body {
  margin: 0;
  color: #3F1705;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #137923 0%, rgba(9, 255, 107, 0.00) 100%);
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
