.details-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 18px 20px;
  border-radius: 12px;
  background: linear-gradient(90deg, #8a8625 0%, rgba(138, 134, 37, 0.4) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.details-list__item {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
