.week{
    padding: 8px 120px;
    border-radius: 12px;
    background: radial-gradient(4868.29% 124.94% at 1.06% 9.77%, #FCE513 0%, #FFFEFE 50.38%, #DCFE0C 87.97%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}